<main class="grid">
  <img src="https://www.quackit.com/pix/samples/22m.jpg" alt="Sample photo">
  <img src="https://www.quackit.com/pix/samples/23l.jpg" alt="Sample photo">
  <img src="https://www.quackit.com/pix/samples/24m.jpg" alt="Sample photo">
  <img src="https://www.quackit.com/pix/samples/6m.jpg" alt="Sample photo">
  <img src="https://www.quackit.com/pix/samples/1m.jpg" alt="Sample photo">
  <img src="https://www.quackit.com/pix/samples/25m.jpg" alt="Sample photo">
  <img src="https://www.quackit.com/pix/samples/15m.jpg" alt="Sample photo">
  <img src="https://www.quackit.com/pix/samples/27m.jpg" alt="Sample photo">
  <img src="https://www.quackit.com/pix/samples/28m.jpg" alt="Sample photo">
  <img src="https://www.quackit.com/pix/samples/26m.jpg" alt="Sample photo">
</main>
